.container {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.border {
    border: 6px solid blue;
}

.border2 {
    border: 6px solid red;
}

.backg {
    background-color: chartreuse;
}

.headerpad {
    padding: 25px;
}

p {
    background-color: cyan;
}

#test {
    background-color: gold;
}

body {
    background-color: steelblue;
}

.list2 {
    list-style: none;
}