.container {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.border {
    border: 6px solid blue;
    border-radius: 20px;
}

.border2 {
    border: 6px solid red;
    border-radius: 50px;
}

.backg {
    background-color: chartreuse;
    padding: 10px;
    border-radius: 15px;
}

.headerpad {
    padding: 25px;
}

p {
    background-color: cyan;
    border-radius: 50px;
}

#test {
    background-color: gold;
    border-radius: 100px;
}

body {
    background-color: steelblue;
}

.list2 {
    list-style: none;
}

.image {
    width: 1250px;
    height: 900px;
    display: block;
    border-radius: 60%;
    animation: rotation 100s linear;
    animation-delay: 3s;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.myfont {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }